annotated-types
anyio
click
colorama
fastapi
h11
idna
joblib
numpy
pandas
pydantic
pydantic_core
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
